```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Tests
.pytest_cache/
.coverage
coverage/
htmlcov/

# Logs
*.log

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/
*.swp
*.swo

# Dependencies
.venv/
venv/
.mypy_cache/
```